{% assign associations = site.data.data.associations %}
{% if associations %}
<section class="section associations-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ associations.title }}
  </h2>

  {% for association in associations.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ association.role }}</h3>
        <div class="time">{{ association.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ association.association }}</div>

    </div><!--//meta-->

    {% if association.details %}
    <div class="details">
      {{ association.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
